body {
background-color:yellow;
   
}

.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    background-color:orange;

}

.note {
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color:yellow;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    box-shadow:yellow 10px 5px;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
body{
    background-color:blue;
}
 .veera1{
    background-color:skyblue;
 }